<a
  href="https://apps.apple.com/app/idYOUR_APP_ID"
  target="_blank"
  rel="noopener noreferrer"
>
  <img
    src="/badges/appstore-black.svg"
    alt="Download on the App Store"
    class="h-12"
  />
</a>
