<a
  href="https://play.google.com/store/apps/details?id=YOUR_APP_PACKAGE"
  target="_blank"
  rel="noopener noreferrer"
>
  <img src="/badges/playstore.png" alt="Get it on Google Play" class="h-12" />
</a>
